  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <h1>Verify your address</h1>
    <p>Please use the following link to complete your registration:</p>
    <p>{{ client_url }}/auth/activate/{{ token }}</p>
  </body>
  </html>
